[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
matplotlib = "*"
numpy = "*"
pygame = "*"
pytmx = "*"
pickle = "*"
pil = "*"
pillow = "*"
sklearn = "*"
pyplot = "*"
asyncio = "*"

[requires]
python_version = "3.7"
